#bo {
    background-color:#000;
}
.co {
     /* background-attachment:sticky;  */
    background-color: #000;
    color: white;
}
nav{
    background-attachment: fixed;

}
#dot {
    list-style-type: none;
    
}

.bor {
    border-radius: 90px;
}

.vl {
    border-left: solid thin white;
  
}
.vr {
  position: absolute;
    left: 50%;
    margin-left: -3px;
    height: 20px;
}